@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('http://weloveiconfonts.com/api/?family=fontawesome');

@media screen and (max-width: 500px){
  a.twitter-share-button, #twitter-widget-0{
    display:none;
  }
  md-toolbar.footer div[layout="row"] a i k{
    display:none;
  }
  #index-link{
    display:none;
  }
  
  #author-info{
    display:none;
  }
  #twitter-wrapper{
    display:none;
  }
}

md-toolbar.md-default-theme {
  background-color: rgb(65, 83, 182);
  color: rgba(255,255,255,0.87);
}
a.twitter-share-button{
  /*fallback for devices without iFrame handling*/
  color:white !important;
  text-decoration:none !important;
}
md-input-container:not(.md-input-invalid) > label {
  top: -28px;
  font-size: 0.8em;
  color: dodgerblue;
  position: absolute;
  left:15px;
}

.footer {
  position: fixed;
  height: 50px;
  margin-top: -50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  background: #f5f5f5;
  width: 100%;
  bottom: 0;
  z-index: 1000;
}

.footer a, footer a:hover{
  color:white;
  text-decoration: none;
  font-size:14px;
  display: inline-block;
}

.logo{
  width: 70% !important;
  display: inline-block;
}
.logo i{
  position: relative;
  line-height: 120px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-left:10px;
}

.lower{
	font-size:0.8em;
}

h2 {
  margin-bottom: 50px;
}

.input-container {
  text-align: center;
  margin: 40px;
  margin-bottom:10px !important;
}

input.searchName{
	width: 100% !important;
  margin: 13px;
  padding: 10px;
  border-radius: 5px;
  font-size:20px;
}

span{
  padding:0px;
  font-size:16px;
  margin: -1px;
}

b{
  color: rgba(187, 62, 62, 1);
}

.inner p{
  padding-top: 10px;
  color: rgb(112, 112, 126);
  text-transform: none;
  font-size:14px;
  font: 14px/1 'Open Sans', sans-serif;
}

ul.f32 {
  display:inline-block;
  float:right;
  margin-top: 15px;
}

.flag{
  cursor:pointer;
}

.activeFlag{
  outline: 2px solid #83AEDF;
}

.morse{
  background:
    url(http://icon.softwaresea.com/32x32/7/378/1688580.4475dab1c2146ff9c192c6c9863ffae4.gif)
    no-repeat 100%  !important;
    background-size: 32px 32px;
}

.wideinner{
    width: 90%;
    margin: 0 auto;
}

#index-link, #index-link:hover{
  text-decoration: none;
  font-size:25px;
  margin-left: 20px;
}

#spell-body{
  margin-left: 15px;
}


.symbol-not-found{
  background-color:yellow;
  position: relative;
  display: inline-block;
}

.layout-row{
  margin-top:10px;
}


md-input-container:not(.md-input-has-value) input:not(:focus){
  color: rgba(0, 0, 0, 0.85) !important;
}

md-toolbar.footer div[layout="row"] a{
  margin:10px;
}

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.tooltip-container:hover{
  background-color: rgba(253, 237, 87, 0.67);
  border-radius:2px;
}

.tooltip:hover:after{
	  background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 8px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    font-size:13px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 10px; 
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 12px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 40%;
    position: absolute;
    z-index: 99;
}