@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url('http://weloveiconfonts.com/api/?family=fontawesome');

@media screen and (max-width: 585px){
  #index-link{
    font-size:18px !important;
  }
}

@media screen and (max-width: 500px){
  a.twitter-share-button, #twitter-widget-0{
    display:none;
  }
  md-toolbar.footer div[layout="row"] a i k{
    display:none;
  }
}

md-toolbar.md-default-theme {
  background-color: rgb(65, 83, 182);
  color: rgba(255,255,255,0.87);
}
a.twitter-share-button{
  /*fallback for devices without iFrame handling*/
  color:white !important;
  text-decoration:none !important;
}
md-input-container:not(.md-input-invalid) > label {
  top: -28px;
  font-size: 0.8em;
  color: dodgerblue;
  position: absolute;
  left:15px;
}

.footer {
  position: fixed;
  height: 50px;
  margin-top: -50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0,0,0,.2);
  background: #f5f5f5;
  width: 100%;
  bottom: 0;
}

.footer a, footer a:hover{
  color:white;
  text-decoration: none;
  font-size:14px;
  display: inline-block;
}

.logo{
  width: 70% !important;
  display: inline-block;
}
.logo i{
  position: relative;
  line-height: 120px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

.lower{
	font-size:0.8em;
}

h2 {
  margin-bottom: 50px;
}

.input-container {
  text-align: center;
  margin: 40px;
  margin-bottom:10px !important;
}

input.searchName{
	width: 100% !important;
  margin: 13px;
  padding: 10px;
  border-radius: 5px;
  font-size:20px;
}

span{
  padding:0px;
  font-size:16px;
  margin: -1px;
}

b{
  color: rgba(187, 62, 62, 1);
}

.inner p{
  padding-top: 10px;
  color: rgb(112, 112, 126);
  text-transform: none;
  font-size:14px;
  font: 14px/1 'Open Sans', sans-serif;
}

ul.f32 {
  display:inline-block;
  float:right;
  margin-top: 15px;
}

.flag{
  cursor:pointer;
}

.activeFlag{
  outline: 2px solid #83AEDF;
}

.morse{
  background:
    url(http://icon.softwaresea.com/32x32/7/378/1688580.4475dab1c2146ff9c192c6c9863ffae4.gif)
    no-repeat 100%  !important;
    background-size: 32px 32px;
}

.wideinner{
    width: 90%;
    margin: 0 auto;
}

#index-link, #index-link:hover{
  text-decoration: none;
  font-size:25px;
}

#spell-body{
  margin-left: 15px;
}


.symbol-not-found{
  background-color:yellow;
}

.layout-row{
  margin-top:10px;
}


md-input-container:not(.md-input-has-value) input:not(:focus){
  color:gray !important;
}

md-toolbar.footer div[layout="row"] a{
  margin:10px;
}
/**
 * Tooltip Styles
 */

.tooltip-container {
    cursor: pointer;
    position: relative;
    display: inline-block;
}
.tooltip-container:hover{
  background-color: rgba(253, 237, 87, 0.67);
  border-radius:2px;
}


.tooltip {
    opacity: 0;
    z-index: 99;
    color: #bbb;
    width: 40px;
    display: block;
    font-size: 11px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    text-shadow: 1px 1px 2px #111;
    background: rgba(51,51,51,0.9);
    /*border: 1px solid rgba(34,34,34,0.9);*/
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    right: 5px;
    bottom: 35px;
}

.tooltip:before,.tooltip:after {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(51,51,51,0.9);
    position: absolute;
    bottom: -9px;
    left: 9px;
}

.tooltip-container:hover .tooltip,a:hover .tooltip {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

