<div class="nonfooter">
  <div class="header">
    <div class="inner">
      <div class="logo">
        <i class="fa" ng-class="random >= 0.5 ? 'fa-plane': 'fa-paper-plane'">&nbsp;&nbsp;&nbsp;&nbsp; ICAO Speller</i>

      </div>
      <ul class="f32">
      <li ng-class="lang=='value'?'activeFlag':''"
          class="flag gb"
          ng-click="toggleLang('value')" title = "English"></li>

      <li ng-class="lang=='russian'?'activeFlag':''"
          class="flag ru"
          ng-click="toggleLang('russian')" title = "Russian"></li>

      <li ng-class="lang=='morse'?'activeFlag':''"
          class="flag morse"
          ng-click="toggleLang('morse')" title = "Morse Code"></li>
      </ul>
    </div>
  </div>

  <div class="teaser">
    <div class="inner">
    <p>This tool can help you to easily spell links, addresses, names or any other text stuff in ICAO (NATO) phonetic alphabet, well-known all over the world.</p>
    </div>
  </div>

  <div class="content">
    <div class="inner">
      <div class="inputDiv">
        <input placeholder ="Enter the query" class = "searchName" ng-model="text" autofocus>
        ng-model="text" autofocus
        ng-keyup="filterData(text)">
      </div>

      <div ng-bind-html="text | spell:lang:alphabet">
      </div>

          <div class="wideinner">
            <div id = "spritzer" data-role="spritzer"></div>
          </div>

    </div>
  </div>
</div>

<div class="footer">
  <div class="inner">
  <a href="https://en.wikipedia.org/wiki/NATO_phonetic_alphabet">Wikipedia table</a>
    201<i ng-click = "showSpritz=true">4 - 2015</i>, Anthony Ryzhikov. See source on <a href="https://bitbucket.org/tonyRyzhikov/icao-speller"><i class ="fa fa-trash">&nbsp;&nbsp;&nbsp;&nbsp;BitBucket</i></a>
  </div>
</div>
