<div class="inputDiv">Enter the query: 
   <input class = "searchName" ng-model="search.name" autofocus ng-keyup="filterData(search.name)">
 </div>

<section class="container">
 <table>
    <tr>
      <th>#</th>
      <th>Letter</th>
      <th>English</th>
      <th>Russian</th>
    </tr>
    <tr ng-repeat="letter in alphabet track by letter.id">
      <td>{{alphabet.indexOf(letter) + 1}} </td>
      <td><a href = "#/letters/{{letter.name}}">{{letter.name}}</a></td>
      <td><a href = "#/letters/{{letter.name}}">{{letter.value}}</a></td>
      <td><a href = "#/letters/{{letter.name}}">{{letter.russian}}</a></td>
    </tr>
  </table>
</section>